.header {
    width: 98vw;
    height: 12vh;
    background-color: rgb(0, 0, 0);
}

.headerleft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 22px;
    margin-left: 20px;
}

.headerleft span {
    margin-left: 40px;
    font-size: 18px;
}